<!-- header begin -->
<%= htmlWebpackPlugin.options.header %>
<!-- header end -->
<div class="fullWidthHeader fullWidthHeader--career">
  <div class="fullWidthHeader__header">
    <a href="<%= htmlWebpackPlugin.options.backButtonUrl %>" class="backButton"></a>
    <h1 data-vocabulary="54">
        <%= htmlWebpackPlugin.options.vocabulary['6'] %>
    </h1>
  </div>
</div>
<div class="wrapper" id="intro">
  <h2>
    <%= htmlWebpackPlugin.options.vocabulary['6'] %>
  </h2>
</div>
<!-- footer begin -->
<%= htmlWebpackPlugin.options.footer %>
<!-- footer end -->