<!-- header begin -->
<%= htmlWebpackPlugin.options.header %>
<!-- header end -->

<div class="wrapper wrapper--servicePage servicePage" id="intro">
  <div class="servicePage__header servicePage__header--mobileApps">
    <div class="servicePage__headerContent">
      <a href="<%= htmlWebpackPlugin.options.backButtonUrl %>" class="backButton"></a>
      <div class="servicePage__headerIllustration"></div>
      <h1 data-vocabulary="83" data-prefix="<%= htmlWebpackPlugin.options.vocabulary['3'] %>: ">
        <%= htmlWebpackPlugin.options.vocabulary['83'] %>
      </h1>
      <p>
        <%= htmlWebpackPlugin.options.vocabulary['84'] %>
      </p>
      <a href="/#contactForm" class="primaryButton">
        <%= htmlWebpackPlugin.options.vocabulary['85'] %>
      </a>
    </div>
    <div class="servicePage__headerIllustration"></div>
  </div>

  <p>
    <%= htmlWebpackPlugin.options.vocabulary['86'] %>
  </p>

  <div class="servicePage__Illustration"></div>
  <div class="servicePage__twoColsSubheader">
    <h3>
      <%= htmlWebpackPlugin.options.vocabulary['87'] %>
    </h3>
    <p>
      <%= htmlWebpackPlugin.options.vocabulary['88'] %>
    </p>
  </div>

  <div class="servicePage__container">
    <a href="/#contactForm" class="primaryButton">
      <%= htmlWebpackPlugin.options.vocabulary['85'] %>
    </a>  
  </div>

  <!-- footer begin -->
  <%= htmlWebpackPlugin.options.footer %>
  <!-- footer end -->
</div>