<!-- header begin -->
<%= htmlWebpackPlugin.options.header %>
<!-- header end -->

<div class="fullWidthHeader fullWidthHeader--career" id="intro">
  <div class="fullWidthHeader__header">
    <a href="<%= htmlWebpackPlugin.options.backButtonUrl %>" class="backButton"></a>
    <h1 data-vocabulary="54">
        <%= htmlWebpackPlugin.options.vocabulary['5'] %>
    </h1>
  </div>
</div>
<div class="wrapper">
  <h2>
    <%= htmlWebpackPlugin.options.vocabulary['5'] %>
  </h2>

  <!-- footer begin -->
  <%= htmlWebpackPlugin.options.footer %>
  <!-- footer end -->
</div>