.highlights {
  opacity: 1;
  transition: opacity 0.2s;
  @include for-tablet-portrait-up {
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 49rem;
  }

  p {
    font-weight: 700;
    font-size: 1.1rem;
  }

  strong {
    display: block;
    font-size: 3rem;
  }

  li {
    position: relative;

    .highlights__icon {
      content: '';
      position: absolute;
      width: 9rem;
      height: 7rem;
      background-position: center;
      background-repeat: no-repeat;
      right: -2rem;
      top: 50%;

      transform: translateY(-50%) scale(0.6);

      @include for-tablet-portrait-up {
        transform: none;
        top: auto;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: 6.7rem;
      }

      @include for-ipad-pro-portrait {
        background-size: contain, 33%, 36%;
      }
    }
  }

  .highlights__projectsCount {
    .highlights__icon {
      z-index: 0;
      background-image: url(../assets/images/homepage/rocket.svg);

      @include for-tablet-portrait-up {
        transform-origin: 250px 250px;
      }
    }
  }

  .highlights__teamMembersCount {
    .highlights__icon {
      background-image:
      url(../assets/images/homepage/team_center.svg),
      url(../assets/images/homepage/team_left.svg),
      url(../assets/images/homepage/team_right.svg);
      background-position: center bottom, left bottom, right bottom;
    }
  }

  .highlights__yearsOfExperience {
    .highlights__icon {
      background-image: url(../assets/images/homepage/experience.svg);
    }
  }
}

.highlights--hidden {
  opacity: 0;
  transition: opacity 0.2s;
}